*.pyc
*.pyd
*.so
*.c
*.cpp
*.png
scripts/tests/out

__pycache__/
*.py[cod]
*$py.class
**/__pycache__/

RAW
ROBUST
ROBUST_EVALUATION
168Viz
compilation_viz
DONNES
RES
PLOTS
DEBUG
PRECISION_TEST
COMPILATION_DISTRIBUTION
CLEAN
MODELS
DISTRIBUTION_RESULTS

.venv
.vscode
